{% extends 'main/base.html' %} {% block content %}
<main class="container text-center">
  {% if user.is_authenticated %}
  <h1 class="display-2 mt-5">
    Welcome {{ user.username }}! Time to add and complete some tasks
    <span>&#128516;</span>
  </h1>
  {% else %}
  <h1 class="display-2 mt-5">
    Create an account to start organizing your daily tasks
    <span>&#128516;</span>
  </h1>
  <a href="#" class="btn btn-primary btn-lg mt-4">Sign up for free</a>
  {% endif %}
</main>
{% endblock content %}