{% extends 'main/base.html' %}
{% block content %}
<main class="container px-4 mb-5">
    <div class="container-fluid text-center mt-3">
        <h1 class="display-5">Pending Tasks</h1>
    </div>
    {% for task in tasks %}
    <div class="card text-dark bg-light mt-3 border-dark">
        <div class="card-body">
            {{ task.task }}
        </div>
        <div class="card-footer bg-transparent d-flex justify-content-between">
            <div>
                <a href="{% url 'edit-task' task.id %}" class="btn btn-outline-primary" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Edit"><i class="bi bi-pencil-square"></i></a>
                <a class="btn btn-outline-danger mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                    <i class="bi bi-trash3"></i>
                </a>
                <a class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Mark as done">
                    <i class="bi bi-check2-square"></i>
                </a>
            </div>
            <div>
                <p>Due - {{ task.due_date }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock content %}